* {
  margin: 0;
  padding: 0;
  font-family: "Dancing Script", cursive;
}
body {
  background-color: #221f23;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}
.blur {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
  filter: blur(5px);
  background-color: #221f23;
}
.wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heart {
  position: relative;
  margin-right: 92px;
  cursor: pointer;
  animation: pulse infinite 1s ease-in-out;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  top: 50;
  width: 82px;
  height: 110px;
  border-radius: 40px 40px 0 0;
}

.heart::before {
  left: 40px;
  transform: rotate(-46deg);
  transform-origin: 0 100%;
  border-left: 1px solid red;
  border-top: 1px solid red;
}

.heart::after {
  left: -40px;
  border-top: 1px solid red;
  border-right: 1px solid red;
  transform: rotate(46deg);
  transform-origin: 100% 100%;
}
.text {
  position: absolute;
  z-index: 200;
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(185, 185, 185);
  text-align: center;
  padding: 10px;
}
.typewriter {
  color: #fff;
  font-family: monospace;
  overflow: hidden;
  border-right: 0.15em solid red;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

.none {
  display: none;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: red;
  }
}
@keyframes pulse {
  from {
    scale: 1;
  }

  50% {
    scale: 1.3;
  }

  to {
    scale: 1;
  }
}
